@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary: #D2E0FB;
    --primary-foreground: #113;

    --secondary: #FEF9D9;
    --secondary-foreground: #335;

    --tertiary: #8EACCD;
    --table-head: #DEE5D4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
}

nav {
    height: 60px;
    width: 100%;
    padding: 8px 40px;
    background-color: var(--primary);
    box-shadow: 0px 0px 8px var(--secondary);
    color: var(--primary-foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.navDiv{
    display: flex;
    gap: 0 8px
}

button {
    padding: 8px 16px;
    background-color: white;
    border: none;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #eef;
}

.navButton img{
    height: 18px;
    width: 18px;
}

.container {
    min-height: calc(100vh - 100px);
    overflow: auto;
}

#tableTitle {
    text-align: center;
    margin: 10px auto;
}

label{
    font-size: 14px;
}

table {
    padding: 0 40px;
    margin: 20px auto;
    width: 100%;
}

thead,
tbody {
    width: 100%;
}

thead tr {
    color: var(--primary-foreground);
    background-color: var(--table-head);
}

th,
td {
    padding: 8px 12px;
    border: 1px solid var(--secondary-foreground);
    min-width: 200px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
}

td img {
    max-width: 200px;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: fit-content;
    padding: 16px;
    box-shadow: 0 0 8px var(--secondary-foreground);
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
}

.close {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.close:hover {
    background-color: #ededf7;
}

footer {
    width: 100%;
    height: 40px;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-foreground);
    font-weight: 600;
    background-color: var(--tertiary);
    position: sticky;
    bottom: 0;
}

@media screen and (max-width : 600px) {
    nav {
        height: 40px;
        padding: 8px 10px;
        font-size: 12px;
    }

    button {
        padding: 4px 10px;
    }

    #tableTitle {
        font-size: 20px;
        text-align: center;
        margin: 10px auto;
    }

    .container {
        min-height: calc(100vh - 80px);
        overflow: auto;
    }

    table {
        padding: 0 10px;
        margin: 0 auto;
        width: 100%;
        font-size: 12px;
    }


    th,
    td {
        padding: 4px 8px;
        min-width: 200px;
    }

    footer {
        padding: 0 10px;
        font-size: 12px;
    }
}